body{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
}
header{
    border: 2px solid #400101;
    background-color: #BF7C41;
    text-align: center;
    flex-flow: row wrap;
}
nav{
    margin: 2px;
    border-radius: 8px;
    background-color: #F2D6BD;
    border: 2px solid #400101;
    height: 50px;
    flex: 100%;
    display: flex;
}
a{
    margin: auto;
    color: black;
    text-decoration: none;
    transition: transform 1s;
}
a:hover{
    transition: 0.5s ease-in-out;
    color: #BF7C41;
    font-size: 120%;
}

h2{

    padding: 5px;
    margin: auto;
    color: black;
    font-size: 30px;
}
main{
    background-color: #BF7F5A;
    border: 2px solid #400101;
    height: 100%;
    flex: 100%;
    display: flex;
}
.vertical{
    display: block;
}
footer, section{
    padding: 5px;
    border: 2px solid #400101;
    height: 25%;
    flex: 100%;
    display: flex;
}
section{
    height: 100%;
    margin: 10px;
    display: flex;
    flex: 100%;
    border-radius: 10px;
    background-color: #400101;
    transition: height 0.3s;
}

footer{
    height: 200px;
    padding: 10px;
    background-color: #F2D6BD;
}
.tabla{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 50%;
}
table{
    margin: auto;
    border: 1px solid #400101;
    border-collapse: collapse;
    width: 100%;
    
}
td, th{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    border: 3px solid #400101;
    border-collapse: collapse;
    width: 10%;
    height: 100px;
}
th{
    background-color: #BF7C41;
    font-size: 20px;
}
td{
    background-color: #F2D6BD;
}
.header{
    padding: 10px;
    text-align: left;
    height: 10%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
.data{
    text-align: left;
    height: 50px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
div{
    background-color: #BF7F5A;
    border: 2px solid #400101;
    height: 100%;
    flex: 100%;
    text-align: center;
    padding: 3px;
}
p, li ,h3{
    text-align: justify;
    padding: 2px;
    color: #F2D6BD;
}
img{
    
    height: 100px;
}
.imagenPeque{
    width: 100%;
    
}
small{
    font-size: 12px;
    background-color: #6e0b0b   ;
    border-radius: 6px;
    border: 2px solid #6e0b0b;
}
mark{
    font-weight: bold;
    color: #F2D6BD;
    font-size: 15px;
    background-color: #6e0b0b   ;
    border-radius: 6px;
    border: 2px solid #6e0b0b;
}
.ltColor{
    color: #6e0b0b ;
}
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:  #BF7F5A;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
}
#scroll-to-top:hover{
    transition: 0.5s;
    background-color:  #6e0b0b;
}

form {
    border-radius: 20px;
    font-size: 20px;
    color: #F2D6BD;
    background-color:  #6e0b0b;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #BF7F5A;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #F2D6BD;
    transition: 1s;
}
.container {
    font-size: 20px;
    color: #F2D6BD;
    background-color: #400101;
    border-end-end-radius: 20px;
    border-top-left-radius: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center; 
}